{
    "openapi": "3.0.1",
    "info": {
        "title": "Customs Catalog API",
        "description": "A web API that will process retailers product information into the eShopWorld platform",
        "version": "2.0.732.0"
    },
    "servers": [
        {
            "url": "https://logistics-customscatalog-api.sandbox.eshopworld.com/"
        }
    ],
    "paths": {
        "/api/v2/BrandConfig/{id}": {
            "get": {
                "tags": [
                    "BrandConfig"
                ],
                "summary": "Returns a brand config",
                "operationId": "api/v2/BrandConfig/{id}_GET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.BrandConfigDto"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.BrandConfigDto"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.BrandConfigDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/Classifications": {
            "get": {
                "tags": [
                    "Classifications"
                ],
                "summary": "Returns a list of products",
                "operationId": "api/v2/Classifications_GET",
                "parameters": [
                    {
                        "name": "RegionCode",
                        "in": "query",
                        "description": "RegionCode",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PageNumber",
                        "in": "query",
                        "description": "The page number to display.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "The size of the page to display.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "OrderByField",
                        "in": "query",
                        "description": "The field to be used to order the results",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "IsOrderByAsc",
                        "in": "query",
                        "description": "The field to be used to sort the results",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Paging.PagedResult`1[[Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationDto, Customs.Catalog.Domain.Pkg, Version=2.1.0.732, Culture=neutral, PublicKeyToken=null]]"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Paging.PagedResult`1[[Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationDto, Customs.Catalog.Domain.Pkg, Version=2.1.0.732, Culture=neutral, PublicKeyToken=null]]"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Paging.PagedResult`1[[Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationDto, Customs.Catalog.Domain.Pkg, Version=2.1.0.732, Culture=neutral, PublicKeyToken=null]]"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Classifications"
                ],
                "summary": "Returns a list of products",
                "operationId": "api/v2/Classifications_POST",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationRegion"
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationRegion"
                                }
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationRegion"
                                }
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationRegion"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/Classifications/Report": {
            "get": {
                "tags": [
                    "Classifications"
                ],
                "summary": "Get a Classifications file by brand",
                "operationId": "api/v2/Classifications/Report_GET",
                "parameters": [
                    {
                        "name": "tenantCode",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/Classifications/{id}/Regions": {
            "get": {
                "tags": [
                    "Classifications"
                ],
                "summary": "Returns a list of products",
                "operationId": "api/v2/Classifications/{id}/Regions_GET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationRegion"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationRegion"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationRegion"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/Classifications/regions/save": {
            "post": {
                "tags": [
                    "Classifications"
                ],
                "summary": "Saves a classifications regions",
                "operationId": "api/v2/Classifications/regions/save_POST",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationRegion"
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationRegion"
                                }
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationRegion"
                                }
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationRegion"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/Classifications/Chapters": {
            "get": {
                "tags": [
                    "Classifications"
                ],
                "summary": "Get all Chapters",
                "operationId": "api/v2/Classifications/Chapters_GET",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Domain.Chapter"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Domain.Chapter"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Domain.Chapter"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/Classifications/Section": {
            "get": {
                "tags": [
                    "Classifications"
                ],
                "summary": "Get Section list by chapter code",
                "operationId": "api/v2/Classifications/Section_GET",
                "parameters": [
                    {
                        "name": "chapterCode",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Domain.Section"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Domain.Section"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Domain.Section"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/Classifications/SubSection": {
            "get": {
                "tags": [
                    "Classifications"
                ],
                "summary": "Get SubSection list by chapter code and Section code",
                "operationId": "api/v2/Classifications/SubSection_GET",
                "parameters": [
                    {
                        "name": "chapterCode",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sectionCode",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Domain.SubSection"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Domain.SubSection"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Domain.SubSection"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/Classifications/ChapterClassifications": {
            "get": {
                "tags": [
                    "Classifications"
                ],
                "summary": "Returns a list of Classifications",
                "operationId": "api/v2/Classifications/ChapterClassifications_GET",
                "parameters": [
                    {
                        "name": "RegionCode",
                        "in": "query",
                        "description": "RegionCode",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ChapterCode",
                        "in": "query",
                        "description": "ChapterCode",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SectionCode",
                        "in": "query",
                        "description": "SectionCode",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SubSectionCode",
                        "in": "query",
                        "description": "SubSectionCode",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ClassificationCode",
                        "in": "query",
                        "description": "ClassificationCode",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "PageNumber",
                        "in": "query",
                        "description": "The page number to display.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "The size of the page to display.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "OrderByField",
                        "in": "query",
                        "description": "The field to be used to order the results",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "IsOrderByAsc",
                        "in": "query",
                        "description": "The field to be used to sort the results",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Paging.PagedResult`1[[Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationDto, Customs.Catalog.Domain.Pkg, Version=2.1.0.732, Culture=neutral, PublicKeyToken=null]]"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Paging.PagedResult`1[[Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationDto, Customs.Catalog.Domain.Pkg, Version=2.1.0.732, Culture=neutral, PublicKeyToken=null]]"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Paging.PagedResult`1[[Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationDto, Customs.Catalog.Domain.Pkg, Version=2.1.0.732, Culture=neutral, PublicKeyToken=null]]"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/Classifications/LoadChapterClassifications": {
            "post": {
                "tags": [
                    "Classifications"
                ],
                "summary": "Returns a list of Classifications",
                "operationId": "api/v2/Classifications/LoadChapterClassifications_POST",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.GetClassificationsRequest"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.GetClassificationsRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.GetClassificationsRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.GetClassificationsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Paging.ContinuedResult`1[[Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationDto, Customs.Catalog.Domain.Pkg, Version=2.1.0.732, Culture=neutral, PublicKeyToken=null]]"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Paging.ContinuedResult`1[[Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationDto, Customs.Catalog.Domain.Pkg, Version=2.1.0.732, Culture=neutral, PublicKeyToken=null]]"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Paging.ContinuedResult`1[[Customs.Catalog.Domain.Pkg.Models.DTO.ClassificationDto, Customs.Catalog.Domain.Pkg, Version=2.1.0.732, Culture=neutral, PublicKeyToken=null]]"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/Classifications/BulkUpload": {
            "post": {
                "tags": [
                    "Classifications"
                ],
                "summary": "Uploads Classification BulkUpload file to SftpSettings folder.",
                "operationId": "api/v2/Classifications/BulkUpload_POST",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "file"
                                ],
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.FileImportResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.FileImportResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.FileImportResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.FileImportResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.FileImportResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.FileImportResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/DefaultClassifiedProduct/load": {
            "post": {
                "tags": [
                    "DefaultClassifiedProduct"
                ],
                "summary": "Loads default products",
                "operationId": "api/v2/DefaultClassifiedProduct/load_POST",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.GetDefaultProductsRequest"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.GetDefaultProductsRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.GetDefaultProductsRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.GetDefaultProductsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Paging.ContinuedResult`1[[Customs.Catalog.Domain.Pkg.Models.DTO.ProductCatalogUiDto, Customs.Catalog.Domain.Pkg, Version=2.1.0.732, Culture=neutral, PublicKeyToken=null]]"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Paging.ContinuedResult`1[[Customs.Catalog.Domain.Pkg.Models.DTO.ProductCatalogUiDto, Customs.Catalog.Domain.Pkg, Version=2.1.0.732, Culture=neutral, PublicKeyToken=null]]"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Paging.ContinuedResult`1[[Customs.Catalog.Domain.Pkg.Models.DTO.ProductCatalogUiDto, Customs.Catalog.Domain.Pkg, Version=2.1.0.732, Culture=neutral, PublicKeyToken=null]]"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/DefaultClassifiedProduct/{brandCode}/{productId}": {
            "delete": {
                "tags": [
                    "DefaultClassifiedProduct"
                ],
                "summary": "Deletes default classified product and related entites.",
                "operationId": "api/v2/DefaultClassifiedProduct/{brandCode}/{productId}_DELETE",
                "parameters": [
                    {
                        "name": "brandCode",
                        "in": "path",
                        "description": "The brand code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "The product id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/DefaultClassifiedProduct/purge/{brandCode}": {
            "delete": {
                "tags": [
                    "DefaultClassifiedProduct"
                ],
                "summary": "Deletes all default classified products",
                "operationId": "api/v2/DefaultClassifiedProduct/purge/{brandCode}_DELETE",
                "parameters": [
                    {
                        "name": "brandCode",
                        "in": "path",
                        "description": "The brand code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/DutyRule/AdditionalDutyRuleStatus": {
            "put": {
                "tags": [
                    "DutyRule"
                ],
                "summary": "Updates an additional duty rule",
                "operationId": "api/v2/DutyRule/AdditionalDutyRuleStatus_PUT",
                "parameters": [
                    {
                        "name": "DeliveryCountry",
                        "in": "query",
                        "description": "DeliveryCountry",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "HsCode",
                        "in": "query",
                        "description": "HsCode",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/DutyRule": {
            "get": {
                "tags": [
                    "DutyRule"
                ],
                "summary": "Returns Duty Rules",
                "operationId": "api/v2/DutyRule_GET",
                "parameters": [
                    {
                        "name": "RuleType",
                        "in": "query",
                        "description": "RuleType",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Country",
                        "in": "query",
                        "description": "Country",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "TenantCode",
                        "in": "query",
                        "description": "Country",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "HsCode",
                        "in": "query",
                        "description": "HsCode",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.DutyRuleSearchResponse"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.DutyRuleSearchResponse"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.DutyRuleSearchResponse"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "DutyRule"
                ],
                "summary": "Upsert a list of duty rules",
                "operationId": "api/v2/DutyRule_POST",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.DutyRuleDto"
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.DutyRuleDto"
                                }
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.DutyRuleDto"
                                }
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.DutyRuleDto"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/DutyRule/{id}": {
            "delete": {
                "tags": [
                    "DutyRule"
                ],
                "summary": "Deletes duty rules by id",
                "operationId": "api/v2/DutyRule/{id}_DELETE",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/DutyRule/deleteAll/{tenantCode}": {
            "delete": {
                "tags": [
                    "DutyRule"
                ],
                "summary": "Deletes all duty rules for brand",
                "operationId": "api/v2/DutyRule/deleteAll/{tenantCode}_DELETE",
                "parameters": [
                    {
                        "name": "tenantCode",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/Home/TotalInvalidProducts": {
            "get": {
                "tags": [
                    "Home"
                ],
                "summary": "Get Total Invalid Products",
                "operationId": "api/v2/Home/TotalInvalidProducts_GET",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.InvalidProductDashboardResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.InvalidProductDashboardResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.InvalidProductDashboardResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/Home/TotalDefaultProducts": {
            "get": {
                "tags": [
                    "Home"
                ],
                "summary": "Get Total Default Products",
                "operationId": "api/v2/Home/TotalDefaultProducts_GET",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.DefaultProductDashboardResponse"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.DefaultProductDashboardResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.DefaultProductDashboardResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/InvalidProducts/Invalid": {
            "post": {
                "tags": [
                    "InvalidProducts"
                ],
                "summary": "Returns a list of invalid products for display on the UI.",
                "operationId": "api/v2/InvalidProducts/Invalid_POST",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.InvalidProductSearchRequest"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.InvalidProductSearchRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.InvalidProductSearchRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.InvalidProductSearchRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Paging.ContinuedResult`1[[Customs.Catalog.Domain.Pkg.Models.DTO.InvalidProductResponse, Customs.Catalog.Domain.Pkg, Version=2.1.0.732, Culture=neutral, PublicKeyToken=null]]"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Paging.ContinuedResult`1[[Customs.Catalog.Domain.Pkg.Models.DTO.InvalidProductResponse, Customs.Catalog.Domain.Pkg, Version=2.1.0.732, Culture=neutral, PublicKeyToken=null]]"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Paging.ContinuedResult`1[[Customs.Catalog.Domain.Pkg.Models.DTO.InvalidProductResponse, Customs.Catalog.Domain.Pkg, Version=2.1.0.732, Culture=neutral, PublicKeyToken=null]]"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/InvalidProducts/Delete": {
            "post": {
                "tags": [
                    "InvalidProducts"
                ],
                "summary": "Deletes invalid products for brand.",
                "operationId": "api/v2/InvalidProducts/Delete_POST",
                "requestBody": {
                    "description": "The search request",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.InvalidProductSearchRequest"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.InvalidProductSearchRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.InvalidProductSearchRequest"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.InvalidProductSearchRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/InvalidProducts/Reprocess": {
            "post": {
                "tags": [
                    "InvalidProducts"
                ],
                "summary": "Starts reprocessing invalid products for given brand",
                "operationId": "api/v2/InvalidProducts/Reprocess_POST",
                "parameters": [
                    {
                        "name": "brandCode",
                        "in": "query",
                        "description": "The brand code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/InvalidProducts/Reprocess/TenantCode": {
            "post": {
                "tags": [
                    "InvalidProducts"
                ],
                "summary": "Starts reprocessing invalid products for given tenant1",
                "operationId": "api/v2/InvalidProducts/Reprocess/TenantCode_POST",
                "parameters": [
                    {
                        "name": "tenantCode",
                        "in": "query",
                        "description": "The tenant code",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/InvalidProducts/Invalid/File/{tenantCode}/{searchType}": {
            "post": {
                "tags": [
                    "InvalidProducts"
                ],
                "summary": "Generate a catalog error file by brand",
                "operationId": "api/v2/InvalidProducts/Invalid/File/{tenantCode}/{searchType}_POST",
                "parameters": [
                    {
                        "name": "tenantCode",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Enums.ErrorSearchType"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "InvalidProducts"
                ],
                "summary": "Get a product exception file by brand tenant code",
                "operationId": "api/v2/InvalidProducts/Invalid/File/{tenantCode}/{searchType}_GET",
                "parameters": [
                    {
                        "name": "tenantCode",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchType",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.Enums.ErrorSearchType"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Customs.Catalog.Domain.Pkg.Models.DTO.Error"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
[...]
